In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot

In [2]:
data_f = pd.DataFrame(np.arange(0, 12).reshape(4, 3), index=['R1', 'R2', 'R3', 'R4'], columns=['Col1','Col2','Col3'])

In [3]:
data_f.head()

    Col1  Col2  Col3
R1     0     1     2
R2     3     4     5
R3     6     7     8
R4     9    10    11